# ========================
# IDE e Editores locais
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# Arquivos de Sistema Operacional
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Binários e Executáveis (Gerados pelo Go)
# ========================
# O Go pode gerar executáveis quando você usa "go build".
# Não queremos commitar os arquivos compilados (apenas o código-fonte).
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*/bin/

# ========================
# Dependências Modulares / Cache
# ========================
# Caso utilize a pasta de dependências do Go no futuro (go vendor)
# vendor/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*



node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


project_context/

